<main class="text-center" style="max-width: 600px; margin: 0 auto">
    <h1 class="py-5">Paieskos sistema</h1>
<form method="POST" class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    <button class="btn btn-primary my-5">Ieskoti</button>
</form>
</main>
