.form-label {
  color: orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
    line-height: 1;
  }

}

.icons-bin {
  display: flex;
  gap: 10;

  .icon {
    opacity: 0.1;
    transition: all 0.3s;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      border: 1px solid skyblue;
    }

    &.checked {
      opacity: 1;
    }
  }
}

.client-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .name{
      padding: 0 10px;
      font-size: 20px;
    }
    .age{
      padding: 0 10px;
      font-size: 20px;
    }
  }
}