

.form-label {
  color: orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin: 0;
    line-height: 1;
  }

}

.icons-bin {
  display: flex;
  gap: 10;

  .icon {
    opacity: 0.1;
    transition: all 0.3s;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      border: 1px solid skyblue;
    }

    &.checked {
      opacity: 1;
    }
  }
}

.client-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .name{
      padding: 0 10px;
      font-size: 20px;
    }
    .age{
      padding: 0 10px;
      font-size: 20px;
    }
  }
}

$gray: gray;
$blue: skyblue;
$red: crimson;
$pink: pink;
$yellow: darkorange;
$green: greenyellow;

button:not(.btn) {
  display: inline-block;
  min-width: 120px;
  margin: 10px;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid $gray;
  outline: none;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray;
    border-radius: 10rem;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: darken($gray, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }

  &.red {
    border: 2px solid $red;

    &:after {
      background-color: $red;

      &:before {
        background-color: darken($red, 15%);
      }
    }
  }

  &.blue {
    border: 2px solid $blue;

    &:after {
      background-color: $blue;

      &:before {
        background-color: darken($blue, 15%);
      }
    }
  }

  &.pink {
    border: 2px solid $pink;

    &:after {
      background-color: $pink;

      &:before {
        background-color: darken($pink, 15%);
      }
    }
  }

  &.green {
    border: 2px solid $green;

    &:after {
      background-color: $green;

      &:before {
        background-color: darken($green, 15%);
      }
    }
  }

  &.yellow {
    border: 2px solid $yellow;

    &:after {
      background-color: $yellow;

      &:before {
        background-color: darken($yellow, 15%);
      }
    }
  }

  &.small {
    padding: .7rem .7rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1 rem;
    letter-spacing: .1 rem;
    line-height: 1;
  }
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.212);
  z-index: 555;
  h3{
    text-align: center;
  }
}

.msg-bin{
  position: fixed;
  bottom: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 777;
  .msg {
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    &.ok {
      background-color: #abe85070;
      border-color: #abe850;
    }
    &.info {
      background-color: #87ceeb70;
      border-color: #87ceeb;
    }
    &.error {
      background-color: #dc143c70;
      border-color: #dc143c;
    }
  }
}

.sf-box{
  padding: 12px;
  background-color: skyblue;
  color: white;
  .sort{
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    &.up::after {
      content:'\25B2';
      padding: 0 5px;
    }
    &.down::after {
      content:'\25BC';
      padding: 0 5px;
    }
  }
}