@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');

@font-face {
    font-family: 'Cerebri Sans';
    src: url('../fonts/Cerebri-Sans-Bold.ttf');
    font-weight:600;
}
@font-face {
    font-family: 'Cerebri Sans';
    src: url('../fonts/Cerebri\ Sans\ Book.ttf');
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    color: #6c757d;
    font-family: 'Mandali', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Cerebri Sans';
    color:#343a40;
    margin: 0 0 20px;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
header a {
    transition: all .3s ease-in-out;
}

header .container {
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    gap: 40px;
    margin-top:20px;
}
header .logo img {
    display:block;
}
header .logo {
    display:flex;
    align-items: center;
}

header nav a {
    font-size: 16px;
    color:#6c757d;
}
header nav a:hover {
    color:#1f61eb;
}
header .account ul {
    display: flex;
    gap: 10px;
    margin-top:20px;
}
header .account a {
    font-size: 16px;
    color:#6c757d;
}
header .account a:hover {
    color:#1f61eb;
}
header {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 0;

}
header .account a.sign-up-link {
    background: #c8d9fa;
    color: #1f61eb;
    border: 1px solid #a6c1f8;
    border-radius: 3px;
    padding: 2px 15px;
    display:block;

}
header .account a.sign-up-link:hover {
    background: #1f61eb;
    color:white;
    border-color: #1f61eb;
}
.container {
    width:100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

#home {
    background: url("../foto/hero-3-bg.png") no-repeat top center / cover;
    padding:250px;
}
    
#home .left,
#home .right {
    width:50%;
}
#home .left {
    padding-top:60px;
}

.d-flex {
    display:flex;
}

#home .left h1 {
    font-size: 56px;
    
    
}
#home .left p {
    font-size: 17px;
    line-height: 28px;
}

#home .left ul {
    padding-top: 20px;
    font-size: 15px;
    margin-bottom: 30px;
}

img {
    max-width:100%;
}

#home .left a.featured-button {
    background: #1f61eb;
    color: white;
    font-size: 17px;
    border: 1px solid #1f61eb;
    border-radius: 3px;
    padding:9px 29px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
}
#home i {
    display: flex;
}
#home .left li {
    display: flex;
    align-items: center;
    gap:13px;
}

#home .container {
    gap: 20px;
}
#home .right img {
    display:flex;
    justify-content: center;
    padding: 10px;
}

#home .left a.featured-button:hover {
    background: #1457e1;
    box-shadow: 0 8px 10px 0 rgb(202, 219, 250);
}

/* #home .left p::after {
    content: "";
    background: yellow;
}

#home .left p::before {
    content: "";
    background: yellow;
} */

.how {
    text-align: center;
    line-height: 24px;
}
.how h4 {
    font-weight: 300;
}
.how h2 {
    font-size: 30px;
   
}
.how p {
    font-size: 15px;
    max-width: 600px;
    margin:0 auto;
    
}
#howitwork {
    text-align: center !important;
    line-height: 24px;
    padding: 70px;
}
#howitwork .work-process {
    gap: 80px;
    margin-top: 40px;
    margin-bottom: 100px;
    position: relative;
}
#howitwork .step{
    flex:1;
    width:100%;
}
#howitwork .icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 2rem;
}

#howitwork .work-process i {
    height:96px;
    width:96px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 60% 40%;
    border-top-right-radius: 100% 30%;
    border-bottom-left-radius: 100% 160%;
    border-bottom-right-radius: 100% 160%;
}
#howitwork i.fa.fa-paw {
    background-color: rgba(31, 97, 235, 0.15);
}
#howitwork i.fa.fa-mortar-board {
    background-color: rgba(28, 225, 172, 0.15);
}
#howitwork i.fa.fa-heart {
    background-color: rgba(255, 194, 18, 0.15);
}

#howitwork .step h3, p {
    margin:0;
    font-size: 14px;
}
#howitwork .step p {
    padding: 0 40px;
}
#howitwork .work-process .up {
    position:absolute;
    left: 26.4%;
    top: 53.4%;
}

#howitwork .work-process .down {
    position:absolute;
    left: 62.6%;
    top: 57.5%;
}
#features {
    background-color: #f8f9fa;
    padding-top: 70px;
}

#features .right {
    padding-top: 90px;
    padding-bottom: 100px;
    margin-left: 100px;
    width: 70%;
}
#features .left {
    padding-top: 30px;
}
#features .right ul {
    position: relative;
}
#features .right h1 {
    font-size: 37px;
    
}
#features .right p {
    text-align: justify;
    margin-bottom: 10px;
}
#features .right i {
    font-size: 15px;
    color: #1f61eb;
    font-weight: normal;
    width:40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 1px rgb(224, 227, 243);
    position: absolute;
       
}
#features i.fa.fa-check {
    top: 10px;
    left: 2px;
}
#features i.fa.fa-clone {
    top: 140px;
    left: 2px;
}
#features i.fa.fa-lock {
    top: 240px;
    left: 2px;
}


#features .right li {
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 60px
}
#features .right b {
    display: contents;
}
