body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  .nav-item{
    margin-top: 10px;
  }
  a {
      font-size: 26px;
      letter-spacing: 3px;
      text-decoration: none;
      &.active {
          color: crimson;
      }
  }
  .user {
    padding: 10px;
    a{
      font-size: 20px;
      letter-spacing: 1px;
      text-decoration: none;
      color: white;
    }
    .user-logged{
      padding: 10px;
      span{
        color: white;
        padding: 0 5px;
      }
      a{
        cursor: pointer;
      }
    }
    .user-not-logged{
      padding: 10px;
      background-color: skyblue;
      
    }
  }
}

.msg-bin {
  position: fixed;
  bottom: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 777;

  .msg {
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;

    &.ok {
      background-color: #abe85070;
      border-color: #abe850;
    }

    &.info {
      background-color: #87ceeb70;
      border-color: #87ceeb;
    }

    &.error {
      background-color: #dc143c70;
      border-color: #dc143c;
    }
  }
}