<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisijungimo forma</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<h1 class="mb-4">Sekmingai prisijungete</h1>

<div class="container">
     <form action="/save-user" method="POST">
        
        <h3>Sukurkite nauja vartotoja</h3>

        <div class="form-outline my-4">
            <input type="text" name="vardas" class="form-control" />
            <label class="form-label" for="form2Example1">Name</label>
        </div>
        <div class="form-outline my-4">
            <input type="text" name="pavarde" class="form-control" />
            <label class="form-label" for="form2Example1">Surname</label>
        </div>
        <div class="form-outline my-4">
            <input type="email" name="mail" class="form-control" />
            <label class="form-label" for="form2Example1">Email address</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" name="passw" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <button class="btn btn-primary btn-block mb-4">Create</button>
        
    </form>
  </div>
  </body>
</html>