.create-button{
    position: fixed;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #227C9D;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    color: white;
    user-select: none;
}