@import './variables.module.scss';

.delete-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #FFCB7750;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    top: 0;
    left: 0;
    transition: all $animation;
    .delete-modal-body {
        border-radius: 10px;
        background-color: white;
        button {
            cursor: pointer;
            background-color: #FE6D73;
            border-radius: 5px;
            border: none;
            width: 200px;
            height: 44px;
            color: white;
            user-select: none;
            font-size: 30px;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
        .delete-modal-title {
            padding: 30px;
            background-color: #17C3B2;
            box-sizing: border-box;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .delete-modal-bottom {
            padding: 30px;
            background-color: #17C3B2;
            box-sizing: border-box;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        
    }
}