.edit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #8afe6d;
    border-radius: 5px;
    width: 100px;
    height: 70px;
    color: white;
    user-select: none;
    font-size: 22px;
}