.main-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px 0;
    width: 80%;

    .item {
        display: flex;
        .header{
            display: flex;
            flex-direction: column;
            width: 200px;
            h2 {
                font-weight: bold;
                font-size: 26px;
                margin: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 0;
            }
        }
        

        .colors {
            display: flex;

            .color {
                width: 200px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                letter-spacing: 3px;
                text-align: center;
            }
        }
    }
}