<form action="/save-post" method="POST">
    <div class="mb-2">
        <label>Pavadinimas</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div class="mb-2">
        <label>Turinys</label>
        <textarea name="content" class="form-control"></textarea></div>
    <div class="mb-2">
        <label>Trumpas parasymas</label>
        <textarea name="excerpt" class="form-control"></textarea>
    </div>
    <div class="mb-2"> 
        <label>Nuotrauka</label>
        <input type="text" name="photo" class="form-control">
    </div>
    <button class="btn btn-primary">Siusti</button>
    
</form>