<div>Sveiki, {{user.varas}} {{user.pavarde}}</div>
<h2>Naujo vartotojo sukurimas</h2>
<form method = "POST">
    <div class="mb-3">
        <label>Vardas</label>
        <input type="text" class="form-control" name="vardas">
    </div>
    <div class="mb-3">
        <label>Pavarde</label>
        <input type="text" class="form-control" name="pavarde">
    </div>
    <div class="mb-3">
        <label>El pasto adresas</label>
        <input type="email" class="form-control" name="pastas">
    </div>
    <div class="mb-3">
        <label>Slaptazodis</label>
        <input type="password" class="form-control" name="slaptazodis">
    </div>
    <button class="btn btn-primary">sukurti</button>
</form>