<h1>Prasome prisijungti</h1>
<form method = "POST">
    <div class="mb-3">
        <label>El pasto adresas</label>
        <input type="email" class="form-control">
    </div>
    <div class="mb-3">
        <label>Slaptazodis</label>
        <input type="password" class="form-control">
    </div>
    <button class="btn-btn primary">Prisijungti</button>
</form>