@import './variables.module.scss';
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.color-yellow {
    color: $yellow;
}

.color-gray {
    color: $gray;
}

.color-green {
    color: $green;
}

.list-item{
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 1px solid lighten(gray, 40%);
    .bottom{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .buttons {
            display: flex;
            justify-content: flex-end;
        }
        .count{
            font-size: 24px;
            font-weight: bold;
        }
    }
    input{
        background-color: transparent;
        border: none;
        outline: none;
        color: black;
        &.title{
            font-size: 26px;
        }
        &.height{
            font-size: 20px;
            width: 70px;
        }
    }
    select {
        background-color: white;
        border: none;
        outline: none;
        color: black;
        font-size: 20px;
    }

}

.card-header {
    header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .tabs {
            .tab {
                color: white;
                background-color: $yellow;
                padding: 5px 10px;
                font-size: 20px;
                margin: 5px;
                background-color: $gray;
                cursor: pointer;
                &.active {
                    background-color: $yellow;
                    cursor: default;
                }
            }
        }
    }
}

.toast-container{
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    
    .type{
        width: 30px;
        height: 30px;
        border-radius: 7px;
        margin-right: 7px;
        &.ok{
           background-color: lime;
        }
        &.error{
            background-color: crimson;
        }
        &.info{
            background-color:skyblue;
        }
    }
    .toast {
        margin-bottom: 0px !important;
    }
}

.form-control.error{
    border-color: crimson;
}