$mono: 'DM Mono', monospace;
$zana: 'Noto Sans Zanabazar Square', sans-serif;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.squares {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;

  .square {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #80808070;
    border: 2px solid #808080;
    transition: all 0.5s;
    position: relative;

    &.big {
      width: 250px;
      height: 250px;
    }

    &.small {
      width: 50px;
      height: 50px;
    }

    &.zana {
      span {
        font-family: $zana;
        font-size: 40px;
        line-height: 40px;
      }
    }

    &.spin {
      animation: App-logo-spin infinite 10s linear;

      span {
        animation: App-logo-spin infinite 10s linear;
        animation-direction: reverse;

      }
    }

    &.spin-back {
      animation: App-logo-spin infinite 10s linear;
      animation-direction: reverse;

      span {
        animation: App-logo-spin infinite 10s linear;

      }
    }

  }

  .egg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 180px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;

    &.spin {
      animation: App-logo-spin infinite 10s linear;

      span {
        animation: App-logo-spin infinite 10s linear;
        animation-direction: reverse;

      }
    }

    &.spin-back {
      animation: App-logo-spin infinite 10s linear;
      animation-direction: reverse;

      span {
        animation: App-logo-spin infinite 10s linear;

      }
    }
  }
}

$gray: gray;
$blue: skyblue;
$red: crimson;
$pink: pink;
$yellow: darkorange;
$green: greenyellow;

button {
  display: inline-block;
  min-width: 120px;
  margin: 10px;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid $gray;
  outline: none;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray;
    border-radius: 10rem;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: darken($gray, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }

  &.red {
    border: 2px solid $red;

    &:after {
      background-color: $red;

      &:before {
        background-color: darken($red, 15%);
      }
    }
  }

  &.blue {
    border: 2px solid $blue;

    &:after {
      background-color: $blue;

      &:before {
        background-color: darken($blue, 15%);
      }
    }
  }

  &.pink {
    border: 2px solid $pink;

    &:after {
      background-color: $pink;

      &:before {
        background-color: darken($pink, 15%);
      }
    }
  }

  &.green {
    border: 2px solid $green;

    &:after {
      background-color: $green;

      &:before {
        background-color: darken($green, 15%);
      }
    }
  }

  &.yellow {
    border: 2px solid $yellow;

    &:after {
      background-color: $yellow;

      &:before {
        background-color: darken($yellow, 15%);
      }
    }
  }

  &.small {
    padding: .7rem .7rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1 rem;
    letter-spacing: .1 rem;
    line-height: 1;
  }
}

input {
  font-family: monospace;
  font-size: 20px;
  outline: none;
  border: 3px dotted transparent;
  background-color: skyblue;
  padding: 5px 7px;
  border-radius: 5px;
  color: white;
  margin: 5px;

  &:focus{
    border: 3px dotted white;
  }

  &[type=color] {
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
    background-color: transparent;
  }

  &[type=range] {
    border: none;
    padding: 0;

  }
}

fieldset {
  border: 1px solid skyblue;
  margin: 10px;

  legend {
    color: white;
  }

  .field {
    display: flex;
    gap: 10px;
  }
}

select {
  font-family: monospace;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: skyblue;
  padding: 5px 7px;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

label {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  font-size: 26px;
  line-height: 20px;
  font-family: $mono;
  user-select: none;
  transition: all 0.3s;
  margin: 5px;
}

[type=checkbox]:checked+label {
  background-color: skyblue;
}

[type=checkbox] {
  display: none;
}

.checkbox {

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  font-size: 26px;
  line-height: 20px;
  font-family: $mono;
  user-select: none;
  transition: all 0.3s;
  margin: 5px;

  &.active {
    background-color: skyblue;
  }
}

.select {
  cursor: pointer;
  transition: all 0.3s;

  .list {
    overflow: hidden;
    transition: height 0.3s;

    div {
      &:hover {
        color: skyblue;
      }
    }
  }

  .selected {
    padding: 3px;
    border: 2px solid skyblue;
    user-select: none;
    cursor: auto;
  }
}

.nice-border{
  margin: 20px;
  padding: 20px;
  position: relative;
  border: 3px dashed skyblue;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  .name{
    position: absolute;
    top:15px;
    left: 10px;
    font-size: 20px;
    color: white;
    background-color: skyblue;
    padding: 5px;
  }
  &.list{
    
      display: flex;
      flex-direction: column;
      .list{
        display: flex;
      }
      h6 {
        font-size: 20px;
        margin: 0;
        color: darkcyan;
        padding: 5px;
      }
      p {
        font-size: 16px;
        color: darkgoldenrod;
        padding: 5px;
      }
    
  }
}